{% extends "base.html" %}

<h2>42 Coffee Cups Test Assignment</h2>

{% block content %}
    {% if contact %}
        <div class="container">
            <div class="col-md-4">
                <p>{{ contact.name }}</p>
                <p>{{ contact.last_name }}</p>
                <p>{{ contact.date_of_birth|date:'d F, Y' }}</p>
                <p><label for="photo">Photo:</label></p>
                {% if contact.photo %}
                    <img src="{{ contact.photo }}" alt="{{ contact.name }}">
                {% else %}
                    <div id="photo-preview"></div>
                    <div id="photo-stub">No photo</div>
                {% endif %}
            </div>

            <div class="col-md-4">
                <p><label for="contacts">Contacts</label></p>
                <p><label for="email">Email:</label> {{ contact.email }}</p>
                <p><label for="jabber">Jabber:</label> {{ contact.jabber }}</p>
                <p><label for="skype">Skype:</label> {{ contact.skype }}</p>
                <p><label for="other_contacts">Other contacts:</label> {{ contact.other_contacts|escape|linebreaks }}</p>
                <p><label for="bio">Bio:</label> {{ contact.bio|escape|linebreaks }}</p>
            </div>
            <div class="clear">
                <a href="{% url 'request' %}">requests</a>
            </div>
        </div>

    {% endif %}

{% endblock %}