<form action="" method="POST" id="setPriorityForm">
    {% for r, form in obj %}
        <p class="clearfix"></p>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                {{ r.date }}
            </div>
            <div class="col-md-2">
                {{ r.method }}
            </div>
            <div class="col-md-3 text-left">
                {{ r.path }}
            </div>
            <div class="col-md-2 priority">
                {{ form.priority }}
                {{ form.id }}
            </div>
        </div>
    {% endfor %}
    {{ formset.management_form }}
    <p></p>
    <input type="submit" class="btn btn-success" value="Submit priority">
</form>