.clear {
    border-top: 2px solid black;
    clear: both;
}
#editForm .form-group label {
    display: inline-block;
    width:120px;
    text-align: right;
}
#editForm textarea {
    width: 100%;
}
.photo-preview {
    height: 500px;
    width: 200px;
    /*border: 2px solid #000;*/
}
#image-preview {
    /*position: absolute;*/
    /*left: 15px;*/
    /*bottom: 0;*/
    width: 200px;
    height: 200px;
}
label[for='id_photo'] {
    cursor: pointer;
}
.uploaded-photo,
#loading,
#success,
#error {
    display: none;
}